<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
	<meta charset="UTF-8">
	<title>Pet Clinic</title>
</head>
<body>
	<h1 th:text="'List of Vets'">Index Page</h1>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID </th>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vet : ${vets}">
				<th th:text="${vet?.id}">name</th>
				<th th:text="${vet?.firstName}">name</th>
				<th th:text="${vet?.lastName}">name</th>
			</tr>
		</tbody>
	</table>
</body>
</html>